*       text=auto
*.*     text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2

*.svg   text
*.png   binary
*.jpg   binary
*.jpeg  binary
*.bmp   binary
*.gif   binary
*.ico   binary
*.webp  binary

*.mdf   binary
*.ldf   binary

*.woff  binary
*.woff2 binary

*.sqlite.db     binary
*.sqlite.db-shm binary
*.sqlite.db-wal binary
