<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0c54ec6-dcf9-4a5e-8027-f617c0a02d9e" Alias="archive" Level="2">
  <Info>
    <Name>Archive</Name>
    <Icon>icon-box-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Parent>
    <Compositions>
      <Composition Key="d10d6295-cb54-4656-8bf7-7bf09534e481">bodyContent</Composition>
      <Composition Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Composition>
    </Compositions>
    <DefaultTemplate>Archive</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="558247a4-6bdb-47f7-85ca-a3a4cfd2b1a0">Archive</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f8b30519-f17d-4b46-9062-3e6fb2b98ac7" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>95fc1db7-710c-483d-ab1b-e8110b9b8a04</Key>
      <Name>Show Excerpts</Name>
      <Alias>excerpts</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f56cc97-4e15-4fcc-a794-df1db28a6034</Key>
      <Name>Articles per page</Name>
      <Alias>perPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ccb894f4-7461-41c3-80bd-2264ec5dacb8</Key>
      <Name>Show Thumbnails</Name>
      <Alias>thumbnails</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0bad9529-1b3e-40b4-beea-d946ae66e7f0</Key>
      <Caption>Configuration</Caption>
      <Alias>content/configuration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>