<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12c65d63-9adc-473b-9df7-c90621a7cc20" Alias="contextMenu" Level="2">
  <Info>
    <Name>Contextual Links</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show a list of all pages contained under the same parent.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="b32e5b3d-0bc6-47a7-8fbf-f800827dfaea">blockStyles</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0ab2ed6b-2d82-4453-ab78-d4067a1a142e</Key>
      <Name>Context</Name>
      <Alias>context</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The root node for the menu]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ecec32b-a6ce-47ec-ba81-b121451f9e0c</Key>
      <Name>Show Descendants</Name>
      <Alias>recurse</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Expand descendants where the link is an ancestor of the current page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6f9dd5b-bf02-41e3-a8b1-ab318d8fcad3</Key>
      <Name>Show Header</Name>
      <Alias>showHeader</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display the contextual node's name as the block header]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7abc6fb8-6b04-4f4b-9a96-02c774ed7bd9</Key>
      <Caption>Configuration</Caption>
      <Alias>configuration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>