<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b528ec12-9007-4342-bc6c-ace9b357a62d" Alias="contentPage" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Parent>
    <Compositions>
      <Composition Key="d10d6295-cb54-4656-8bf7-7bf09534e481">bodyContent</Composition>
      <Composition Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="580b74de-a974-482b-bb26-9462b65be0ea">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b528ec12-9007-4342-bc6c-ace9b357a62d" SortOrder="0">contentPage</ContentType>
    <ContentType Key="e0c54ec6-dcf9-4a5e-8027-f617c0a02d9e" SortOrder="1">archive</ContentType>
    <ContentType Key="5d01f84a-22b4-4f39-a253-ff57a0fd04dd" SortOrder="2">events</ContentType>
    <ContentType Key="7c521e08-2b46-474b-888e-61094b248cdd" SortOrder="4">redirect</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
