<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="abac5d45-ddb3-4fea-9e4d-17541724fdc0" Alias="errorPage" Level="2">
  <Info>
    <Name>404 Error Page</Name>
    <Icon>icon-application-error color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Parent>
    <Compositions>
      <Composition Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a43db185-787d-4ae5-8a88-3ccad727229f">ErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d6ba5f99-4241-42de-afb2-ef6b6ee15cf6</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional leader text for the error page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ca9f170-24e5-45cb-ae99-15029a20cba8</Key>
      <Name>Show suggestions</Name>
      <Alias>showSuggestions</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show links similar in name to the requested URL slug.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6f1d4442-17ed-4127-85d7-0333ebbdb111</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>