<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d01f84a-22b4-4f39-a253-ff57a0fd04dd" Alias="events" Level="3">
  <Info>
    <Name>Events Archive</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e0c54ec6-dcf9-4a5e-8027-f617c0a02d9e">archive</Parent>
    <Compositions>
      <Composition Key="e0c54ec6-dcf9-4a5e-8027-f617c0a02d9e">archive</Composition>
    </Compositions>
    <DefaultTemplate>Events</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a07def6d-ae93-4a04-95a2-53751a290c8d">Events</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1c9f4561-de62-4059-a706-78697be987e1" SortOrder="0">event</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>64f03086-98ab-46b5-8992-f89bd1e8a5db</Key>
      <Name>Show as calendar</Name>
      <Alias>showAsCalendar</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cae13b63-af39-4905-b2c2-158f91078191</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>