<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33f7fe00-f905-4269-a2c1-ee8cb1d19097" Alias="fixedWidthRow" Level="2">
  <Info>
    <Name>Fixed Width Row</Name>
    <Icon>icon-width color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A wrapper element to enforce maximum page width</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5293b9a2-467b-4abb-bd2c-e12d96743b38</Key>
      <Name>Vertical alignment</Name>
      <Alias>alignment</Alias>
      <Definition>069a7e08-e490-4f4d-b5fb-eeb5dae2196c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How should blocks be positioned in a grid row (desktop).
Default is "stretch"]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4efeceb1-cd23-4e6e-8e6f-d49df6d3d6ac</Key>
      <Name>Additional CSS Classes</Name>
      <Alias>classes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you wish to add additional custom CSS classes to the row, you can do so here.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
	<GenericProperty>
      <Key>8ad033ad-820c-4d76-bd93-5070b1c96e64</Key>
      <Name>Hide Row</Name>
      <Alias>hide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you wish to temporarily hide a row from display you can do so here.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73a34b8c-cd6f-4ca1-b434-8de0c5954d84</Key>
      <Name>Row Margin</Name>
      <Alias>margin</Alias>
      <Definition>262f5094-6ef0-4abc-89fc-79b185adb19c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a margin after the row]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97546e70-a620-4224-96a3-089f6c90b400</Key>
      <Name>Row Padding</Name>
      <Alias>padding</Alias>
      <Definition>262f5094-6ef0-4abc-89fc-79b185adb19c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add top/bottom whitepsace inside the row.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>688c169d-0bf0-4ea4-a772-eacacad03df4</Key>
      <Caption>Configuration</Caption>
      <Alias>configuration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d91efcaa-94c4-4d1e-8a9e-3ae29b03881b</Key>
      <Caption>Visibility</Caption>
      <Alias>visibility</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
