<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4c70a83f-8979-45cb-b510-b793648f10ca" Alias="indexPage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Parent>
    <Compositions>
      <Composition Key="d10d6295-cb54-4656-8bf7-7bf09534e481">bodyContent</Composition>
      <Composition Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fe67058e-5d5a-46a4-a565-3312f03999ad">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0e85bb21-3ec0-437f-8f45-11de252d15b3" SortOrder="0">sitemap</ContentType>
    <ContentType Key="291a77af-7f34-404e-baff-01fb54cf9ca3" SortOrder="1">searchResults</ContentType>
    <ContentType Key="b528ec12-9007-4342-bc6c-ace9b357a62d" SortOrder="2">contentPage</ContentType>
    <ContentType Key="e0c54ec6-dcf9-4a5e-8027-f617c0a02d9e" SortOrder="3">archive</ContentType>
    <ContentType Key="5d01f84a-22b4-4f39-a253-ff57a0fd04dd" SortOrder="4">events</ContentType>
    <ContentType Key="7c521e08-2b46-474b-888e-61094b248cdd" SortOrder="5">redirect</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>46ee65aa-a562-4cb2-929f-12e6ae282920</Key>
      <Name>Beta</Name>
      <Alias>beta</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display/Hide the "Beta" phase banner]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="globalSettings/miscellany">Miscellany</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>309c4834-3c52-4aae-9b0b-07e9170f10ca</Key>
      <Name>Copyright holder</Name>
      <Alias>copyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="globalSettings/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f879f14-30c7-4371-85b7-477dbdf45e99</Key>
      <Name>Favicon</Name>
      <Alias>favicon</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="globalSettings/branding">Branding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72bc14bc-bc1e-42b0-ac86-de74a4f91ebb</Key>
      <Name>Feedback Link</Name>
      <Alias>feedback</Alias>
      <Definition>0e8bf455-dd6d-4711-902c-db388df10f92</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="globalSettings/miscellany">Miscellany</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d6bba0a-ac12-4035-8cc3-a87dfe0138dc</Key>
      <Name>Links</Name>
      <Alias>footerLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalSettings/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ef37723-3224-49dc-991c-12f1357a0807</Key>
      <Name>Global Meta Tags</Name>
      <Alias>globalMetaTags</Alias>
      <Definition>9fd7f403-38b2-4fbe-b2a8-d3ee8cbddbc1</Definition>
      <Type>LocalGovUmbraco.Dictionary</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="globalSettings/miscellany">Miscellany</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db44bea0-037c-47a2-9795-0bcc68cfac98</Key>
      <Name>Google Analytics</Name>
      <Alias>googleAnalytics</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>(UA-[0-9]+-[0-9]+|G-[A-Z0-9]+)</Validation>
      <Description><![CDATA[If you have a Google Analytics property, enter it here.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalSettings/analytics">Analytics</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Please enter a valid UA / GA4 code (in the format UA-0000000-00 or G-XXXXXXXXXX)</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>acfee0a8-244a-48dd-8a38-c60080be095c</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="globalSettings/branding">Branding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d30786da-4c62-4c65-9a02-38538c935320</Key>
      <Name>Show Search Box</Name>
      <Alias>showSearch</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalSettings/miscellany">Miscellany</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e2f7406-3e90-424a-b656-e55728a1ae1c</Key>
      <Name>Site Information</Name>
      <Alias>siteInformation</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Supporting text for the footer, such as licence information.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="globalSettings/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b833e23-cada-49a9-bbec-d5d158a5d12e</Key>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalSettings/branding">Branding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>407f7aa2-6c32-47bc-8149-7e23549734d9</Key>
      <Caption>Analytics</Caption>
      <Alias>globalSettings/analytics</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>498315b6-11d6-4666-9f3e-1d31650411f8</Key>
      <Caption>Footer</Caption>
      <Alias>globalSettings/footer</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>4b5bb9ae-d23d-47e3-bebc-377af22153f6</Key>
      <Caption>Miscellany</Caption>
      <Alias>globalSettings/miscellany</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e4641a77-f6d5-48e9-84d8-d28b4e54f5c6</Key>
      <Caption>Branding</Caption>
      <Alias>globalSettings/branding</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>e5842f99-8c69-45cd-b567-1c1fbc46d72d</Key>
      <Caption>Global Settings</Caption>
      <Alias>globalSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
