<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43def733-48ee-4bec-9628-6fdc7e0e1a46" Alias="latestArticles" Level="2">
  <Info>
    <Name>Latest Articles</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Pull the latest articles from a given archive and display them as teasers.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d2908ebd-93a1-464f-b0c8-ff824802f0d4</Key>
      <Name>Archive</Name>
      <Alias>archive</Alias>
      <Definition>00131515-83be-4010-80eb-68072380cd24</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The archive to pull from]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc6152d7-eb57-4f05-a8a4-c0d69023a9b4</Key>
      <Name>Archive label</Name>
      <Alias>archiveLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Override the archive link text]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d3a45aa-fbfe-4e3f-b02c-53f2a88cf7e2</Key>
      <Name>Display count</Name>
      <Alias>count</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The number of articles to display]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e9272c26-e29e-4b3e-866c-44d44de26bd2</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5640a270-9e64-4072-ba1f-1e0663627662</Key>
      <Name>Show archive link</Name>
      <Alias>showArchiveLink</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show a link back to the archive]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd3e37c3-61e5-4bd2-9f8d-01c389c92c94</Key>
      <Name>Show Excerpts</Name>
      <Alias>showExcerpts</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show the article excerpt in the teaser]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e0d4f17-feeb-4c84-8bf2-3f2e7655eba6</Key>
      <Name>Show Images</Name>
      <Alias>showImages</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show the article thumbnail in the teaser]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c8d9d7a6-2c8d-4a10-8fa5-8ac7537d7711</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e8784ed6-6248-42aa-831c-349ce2edffad</Key>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>