<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc884944-d63d-4e17-a652-a6ef4b357b91" Alias="main" Level="1">
  <Info>
    <Name>Main</Name>
    <Icon>icon-umbraco color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Main</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="806018f4-6fad-4336-ba41-5ab560be3b6b">Main</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>234db114-ee22-49ac-a76b-f421b9129523</Key>
      <Name>Caption</Name>
      <Alias>caption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a caption to the page title, when you need to make it clear that a page is part of a larger section or group.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metadata/captions">Captions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85b4db1c-2f07-4c47-892a-d5563f575fdf</Key>
      <Name>Change Frequency</Name>
      <Alias>changeFreq</Alias>
      <Definition>148f1daa-12be-45f0-9811-7a5a44c0f57e</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metadata/sitemap">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30517145-905d-4187-b631-541fb3cafe4b</Key>
      <Name>Hide page title</Name>
      <Alias>hideTitle</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide the default H1 from the page. For accesibility/SEO please ensure a H1 is added to the body content.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metadata/visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29853687-6be8-4b5f-b89b-128446532165</Key>
      <Name>Enforce child captions</Name>
      <Alias>inheritCaption</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this page's title as the default caption for all descendent pages.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metadata/captions">Captions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc97ee2e-bc1c-4029-80d4-3f2eb33fa5fe</Key>
      <Name>Description</Name>
      <Alias>metaDesc</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6eed609-246c-4e9a-8cc7-5c5b03edbfdb</Key>
      <Name>Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bbf0398c-22f0-4790-b6d7-da5df15627b5</Key>
      <Name>Robots</Name>
      <Alias>metaRobots</Alias>
      <Definition>2702b9b0-96e3-4a27-9f48-6447aeb50105</Definition>
      <Type>LocalGovUmbraco.PropertyEditors.MetaRobots</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ea517cb-5d17-41a3-90d3-5bb41508155f</Key>
      <Name>Custom Meta Tags</Name>
      <Alias>metaTags</Alias>
      <Definition>9fd7f403-38b2-4fbe-b2a8-d3ee8cbddbc1</Definition>
      <Type>LocalGovUmbraco.Dictionary</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b509586-3af6-48d7-b265-5eb44928320a</Key>
      <Name>Priority</Name>
      <Alias>priority</Alias>
      <Definition>df52b6fd-1f1f-475d-a614-29fbd4119269</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metadata/sitemap">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f0ae369-7c8b-4910-80f5-65e2a4905f44</Key>
      <Name>Publication Date</Name>
      <Alias>publishDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metadata/pageInformation">Page Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17ec0fb7-670a-4388-9f45-a68c68f2fcbd</Key>
      <Name>Hide from Menus</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide the page from showing up in auto-generated menus]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metadata/visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3bbb9edc-a113-4d7a-9a6d-11e7cca37074</Key>
      <Name>Hide from Search</Name>
      <Alias>umbracoSearchHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide the page from showing up in search results]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metadata/visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6b09529-3074-4ccd-9caa-5b32ce5b04e0</Key>
      <Name>Hide from Sitemaps</Name>
      <Alias>umbracoSitemapHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide this page and it's descendants from the sitemaps]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="metadata/visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>608c0816-7ae4-4c60-a0de-9f45b007a6bd</Key>
      <Name>URL Aliases</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comma separated list of alternative page URLs]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metadata/pageInformation">Page Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>191aa369-44ec-4aa6-a5f2-a544c930375e</Key>
      <Name>URL slug</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you want to override the auto-generated URL slug, you can do so here.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metadata/pageInformation">Page Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>57a8ebf3-6770-4b79-a81d-84472b745cef</Key>
      <Caption>Metadata</Caption>
      <Alias>metadata</Alias>
      <Type>Tab</Type>
      <SortOrder>99</SortOrder>
    </Tab>
    <Tab>
      <Key>71c0fe96-bb13-458a-a28a-b8813e16483e</Key>
      <Caption>Page Information</Caption>
      <Alias>metadata/pageInformation</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>a0f0272d-63c9-47ec-994c-d6665aeb0894</Key>
      <Caption>Visibility</Caption>
      <Alias>metadata/visibility</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cf291920-3605-48ad-bca5-b9bec4da5c7c</Key>
      <Caption>Sitemap</Caption>
      <Alias>metadata/sitemap</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>dbd2c436-5d6c-4eac-828d-1025ff91b078</Key>
      <Caption>Captions</Caption>
      <Alias>metadata/captions</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
