<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f3eb8ed-ba19-4f15-b851-8e5b3ee3d020" Alias="newsflash" Level="1">
  <Info>
    <Name>Newsflash</Name>
    <Icon>icon-alert color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>811b5a84-e0b9-4bbc-ab3c-36da53a31a2a</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>54db1a9c-5c07-45e5-aaab-6e4ac0e99e49</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a85c3a85-bebd-458c-87b6-495cdfdbeb68</Key>
      <Name>Include sub-pages</Name>
      <Alias>inherit</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If page restrictions are in used, should the newsflash be displayed on all child content of those pages?]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageRestrictions">Page Restrictions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d25e1961-6318-452f-8f69-564ed2276a94</Key>
      <Name>Page Restrictions</Name>
      <Alias>pageRestrictions</Alias>
      <Definition>92ca2f64-586f-4944-85ee-a4a9c831b58e</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you only want to display the newsflash on certain pages/sectors, you can restrict it here. Leave blank for a site-wide newsflash.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageRestrictions">Page Restrictions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2aee786c-f9bf-4d31-8b48-d81611ae8f24</Key>
      <Caption>Page Restrictions</Caption>
      <Alias>pageRestrictions</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f21464c7-1475-4332-811a-9cc3f20ca612</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>