<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b340d4d7-34a0-4e32-8030-c0e0565c8f56" Alias="nextEvents" Level="2">
  <Info>
    <Name>Upcoming Events</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Pull the latest events from a given archive and display them as teasers.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>951ee9f6-9804-443a-83c8-dcc5519caae5</Key>
      <Name>Archive</Name>
      <Alias>archive</Alias>
      <Definition>95f2618b-7416-4e9f-b930-406ba48c0748</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The archive to pull from]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>958e2569-1000-40d6-8356-6f147be430ec</Key>
      <Name>Archive label</Name>
      <Alias>archiveLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Override the archive link text]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e2acef9-efa4-4baf-ad15-1558e3299d15</Key>
      <Name>Display count</Name>
      <Alias>count</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The number of articles to display]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0162ef6-13dd-4282-b73a-2dba2c7ace88</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ae359b1b-e138-4736-9323-67cd63ed7e36</Key>
      <Name>Show archive link</Name>
      <Alias>showArchiveLink</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show a link back to the archive]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d972e8b6-cbf8-4ca1-a3bc-3e422cd43b88</Key>
      <Name>Show Date</Name>
      <Alias>showDate</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c82dc6f4-85e4-4d42-9cb0-58be2e34431a</Key>
      <Name>Show Excerpts</Name>
      <Alias>showExcerpts</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show the article excerpt in the teaser]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6066f10b-57f6-455a-85d6-5dac9e3a510b</Key>
      <Name>Show Images</Name>
      <Alias>showImages</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show the article thumbnail in the teaser]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30e74f89-ccfc-47f7-aa85-7a749d1801ad</Key>
      <Name>Show "Read more" link</Name>
      <Alias>showReadMore</Alias>
      <Definition>3a9fafc3-96f2-4f2c-848e-69e63f2a9306</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>144eb7ef-b32b-4cc5-b077-c1ab90ab7053</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c7021f90-1b64-4eef-810b-d0188949813b</Key>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>