<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="291a77af-7f34-404e-baff-01fb54cf9ca3" Alias="searchResults" Level="2">
  <Info>
    <Name>Search Results</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Parent>
    <Compositions>
      <Composition Key="cc884944-d63d-4e17-a652-a6ef4b357b91">main</Composition>
    </Compositions>
    <DefaultTemplate>SearchResults</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7848a7d1-063a-4b5a-a1d2-7a225c67bebb">SearchResults</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>