<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7b6c9c0-778c-4e14-bc61-02382ba44cac" Alias="spacer" Level="2">
  <Info>
    <Name>Spacer</Name>
    <Icon>icon-checkbox-dotted color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Adds blank space to grid layout (desktop view only)</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>