<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e488573-0d98-4d54-aded-261439e8471d" Alias="video" Level="2">
  <Info>
    <Name>YouTube Video</Name>
    <Icon>icon-video color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Embed a YouTube video</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bca2702a-d900-427c-965e-275360cf8d80</Key>
      <Name>Youtube Embed Url</Name>
      <Alias>videoUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>https?://(?:www\.)youtube\.com/embed/[A-Za-z0-9\-]{11,}</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Please enter a valid YouTube embed link</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8c8186a6-0c90-4503-9af0-ab4f2ce5a805</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>