:root {
  --max-width: var(--gds-max-width, 1020px);
  --focus: var(--gds-yellow, #EEB92A);
  --accent: var(--gds-blue, #2177B0);
  --accent-contrast: var(--gds-white, white);
  --primary: var(--gds-dark-blue, black);
  --primary-contrast: var(--gds-white, white);
  --secondary: var(--gds-green, #2d6502);
  --secondary-contrast: white;
  --dark-grey: var(--gds-dark-grey, #505a5f);
  --medium-grey: var(--gds-mid-grey, #b1b4b6);
  --light-grey: var(--gds-light-grey, #f3f2f1);
}

html {
  overflow-x: hidden;
}

a:visited {
  color: var(--gds-blue);
}

.max-width {
  max-width: var(--max-width, var(--gds-max-width, 1020px));
}

#site-header {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--primary-contrast);
  border-bottom: 10px solid var(--accent);
}

#site-header > .inner {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem 1rem;
}

@media (min-width: 768px) {
  #site-header {
    border-bottom: none;
  }
}

#site-identity {
  grid-column: 1 / -1;
}

#site-identity a:any-link {
  display: block;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#site-identity a:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
}

#site-name {
  display: inline-block;
  padding: 0.5rem 0;
}

#site-identity a:is(:active, :hover) #site-name {
  box-shadow: 0 4px currentColor;
}

#site-identity a:focus #site-name {
  color: var(--gds-black, black);
  outline: 3px solid transparent;
  background-color: var(--focus);
  box-shadow: 0 -2px var(--focus), 0 4px var(--gds-black, black);
  text-decoration: none;
}

#logo {
  max-width: 150px;
  aspect-ratio: auto;
  object-fit: initial;
}

#site-identity a:focus #logo {
  outline-offset: 2px;
}

@media (min-width: 768px) {
  #site-identity {
    grid-column: auto;
  }
}

#main-menu {
  font-weight: 700;
  grid-column: 1 / -1;
  margin: 0 -1rem calc(-0.5rem - 10px);
  background: var(--light-grey);
  border-top: 10px solid var(--accent);
  border-bottom: 1px solid var(--medium-grey);
  padding: 0 1rem;
}

#main-menu a:any-link {
  text-decoration: none;
}

#main-menu li:before {
  content: none;
}

@media (min-width: 768px) {
  #main-menu {
    margin-bottom: -0.5rem;
  }

  #main-menu > ul.menu {
    width: 100%;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 1rem;
  }

  #main-menu li {
    position: relative;
    padding: 0.35rem 0 calc(0.35rem - 4px);
  }

  #main-menu li.has-children {
    display: flex;
    gap: 0.25em;
  }

  #main-menu li.has-children a {
    flex: 1;
  }

  #main-menu li.has-children:after {
    content: '';
    margin-left: auto;
    display: block;
    height: 1em;
    width: 1em;
    margin: 0.5em 0;
    background-color: var(--primary);
    --expand-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
    -webkit-mask: var(--expand-icon) no-repeat center center;
    mask: var(--expand-icon) no-repeat center center;
  }

  #main-menu li.current-page {
    border-bottom: 4px solid var(--accent);
  }

  #main-menu ul.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: var(--light-grey);
    margin: 0;
    padding: 0 0.5rem;
  }

  #main-menu ul.submenu ul.submenu {
    top: 0;
    left: calc(100% + 0.5rem);
  }

  #main-menu ul.submenu li.has-children:after {
    transform: rotate(270deg);
  }

  #main-menu li:not(:is(:hover, :focus-within)) > ul.submenu {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media (min-width: calc(1020px + 2rem)) {
  #main-menu {
    margin: 0 calc(-1 * (50vw - 510px)) -0.5rem;
  }
}

#search {
  display: flex;
  width: 100%;
  gap: 6px;
}

@media (min-width: 768px) {
  #search {
    max-width: 350px;
  }
}

#search:not(:focus-within) {
  background-color: white;
}

#search input[type="search"] {
  flex: 1;
  min-width: 8em;
  width: 100%;
}

#search input[type="search"]:not(:focus) {
  border-color: white;
}

#phase-banner {
  background-color: white;
  padding: 1rem;
  font-size: 0.875rem;
  border-bottom: 1px solid var(--medium-grey);
}

#phase-banner p {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin: 0;
}

#phase-banner p > span {
  align-self: center;
}

#content {
  padding: 0 1rem;
}

#content > h1:first-child {
  margin-top: 1rem;
}

#content > .block-grid {
  margin: 0 -1rem;
}

.article-list article {
  padding: 1rem 0;
  border-top: 1px solid var(--medium-grey);
}

.article-list article:last-of-type {
  border-bottom: 1px solid var(--medium-grey);
}

.article-list article .heading {
  margin: 0;
}

#articles aside {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  #articles > .inner {
    display: flex;
    gap: 5rem;
  }

  #articles .article-list {
    flex: 2;
  }

  #articles aside {
    flex: 1;
    margin-top: 0;
    border-left: 5px solid var(--accent);
    padding-left: 1rem;
    align-self: start;
  }
}

article time {
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem;
  color: var(--dark-grey);
}

#tags .active {
  font-weight: 700;
}

ul.pagination {
  margin-top: 2rem;
}

.block.fixed-width-row.brand-primary {
  background-color: var(--primary);
  color: var(--primary-contrast);
}

.block.fixed-width-row:where(.brand-primary, .brand-secondary) * :is(a:not(:focus), figcaption) {
  color: inherit;
}

.block.fixed-width-row.brand-primary .block.responsive-image a:not(:focus) figcaption {
  background-color: var(--secondary);
  color: var(--secondary-contrast);
}

.block.fixed-width-row.brand-secondary {
  background-color: var(--secondary);
  color: var(--secondary-contrast);
}

.block.fixed-width-row.brand-grey {
  background-color: var(--light-grey);
}

[data-table] {
  margin: 1rem 0 0;
}

[data-table] dl {
  margin-bottom: 2rem;
}

[data-table] .empty {
  display: none;
}

@media (min-width: 1024px) {
  [data-table] {
    display: grid;
  }

  [data-table] dl {
    display: contents;
  }

  [data-table] dt {
    grid-row: 1;
  }

  [data-table] dl:not(:first-child) dt {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  [data-table] .empty {
    display: block;
  }
}

#site-footer {
  margin-top: 2rem;
  background: var(--light-grey);
  border-top: 1px solid var(--medium-grey);
  padding: 3rem 1rem;
  font-size: 0.8rem;
}

#site-footer a:any-link {
  color: inherit;
}

#footer-links ul.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
