/.config
/[Pp]roperties

/[Uu]mbraco/*
!/[Uu]mbraco/[Dd]ata/
/[Uu]mbraco/[Dd]ata/*
!/[Uu]mbraco/[Dd]ata/[Uu]mbraco[Ff]orms/
!/[Uu]mbraco/[Mm]odels/

/[Uu][Ss]ync/*/[Cc]ontent
/[Uu][Ss]ync/*/[Dd]omains
/[Uu][Ss]ync/*/[Mm]edia
/[Uu][Ss]ync/*/[Ff]orms

/wwwroot/media/*
!/wwwroot/media/.gitkeep

appsettings.[Ll]ocal.json