<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true">
        <verbs allowUnlisted="false">
          <add verb="HEAD" allowed="true" />
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="XML Sitemap">
          <match url="^sitemap\.xml$"/>
          <action type="Rewrite" url="sitemap?format=xml"/>
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="IsStaticAsset" logicalGrouping="MatchAny">
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^text/css" />
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^text/javascript" />
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^image/svg+xml" />
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^font/woff" />
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^font/woff2" />
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^image/jpeg" />
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^image/png" />
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^image/webp" />
            <add input="{RESPONSE_CONTENT-TYPE}" pattern="^image/x-icon" />
          </preCondition>
        </preConditions>
        <rule name="StaticAssetCaching" preCondition="IsStaticAsset">
          <match serverVariable="RESPONSE_CACHE-CONTROL" pattern=".*" />
          <action type="Rewrite" value="max-age=2592000" />
        </rule>
      </outboundRules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
