<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2292d14-bbc8-433f-974a-348b039a932c" Alias="Accordion Body" Level="1">
  <Info>
    <Name>Accordion Body</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fedf4310-b790-4c54-be88-fe4ffcc1adfd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{body.length ? (body | ncRichText | truncate:true:135) : \"Rich Text\" }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a3e5ef50-f96a-4e82-87bc-11157e39ef4e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{heading.length ? heading : \"Accordion\"}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": "100%",
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>