<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a9fafc3-96f2-4f2c-848e-69e63f2a9306" Alias="Default True" Level="1">
  <Info>
    <Name>Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>