<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fd7f403-38b2-4fbe-b2a8-d3ee8cbddbc1" Alias="Dictionary" Level="1">
  <Info>
    <Name>Dictionary</Name>
    <EditorAlias>LocalGovUmbraco.Dictionary</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "autocomplete": true
}]]></Config>
</DataType>
