<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7fb8e092-89cf-4331-80fd-2bad143b4ea0" Alias="Event Instances" Level="1">
  <Info>
    <Name>Event Instances</Name>
    <EditorAlias>LocalGovUmbraco.PropertyEditors.EventInstances</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>