<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9665ed39-2246-413e-8f0c-b9db32026283" Alias="Horizontal Alignment" Level="1">
  <Info>
    <Name>Horizontal Alignment</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Centre"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>