<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2702b9b0-96e3-4a27-9f48-6447aeb50105" Alias="Meta Robots" Level="1">
  <Info>
    <Name>Meta Robots</Name>
    <EditorAlias>LocalGovUmbraco.PropertyEditors.MetaRobots</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>