<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92ca2f64-586f-4944-85ee-a4a9c831b58e" Alias="Page Restrictions" Level="1">
  <Info>
    <Name>Page Restrictions</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "contentPage,indexPage,searchResults,sitemap",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": "",
    "type": "content"
  }
}]]></Config>
</DataType>