<?xml version="1.0" encoding="utf-8"?>
<DataType Key="148f1daa-12be-45f0-9811-7a5a44c0f57e" Alias="Sitemap Frequency" Level="1">
  <Info>
    <Name>Sitemap Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Never"
    },
    {
      "id": 2,
      "value": "Yearly"
    },
    {
      "id": 3,
      "value": "Monthly"
    },
    {
      "id": 4,
      "value": "Weekly"
    },
    {
      "id": 5,
      "value": "Daily"
    },
    {
      "id": 6,
      "value": "Hourly"
    },
    {
      "id": 7,
      "value": "Always"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>