<?xml version="1.0" encoding="utf-8"?>
<DataType Key="262f5094-6ef0-4abc-89fc-79b185adb19c" Alias="Spacing" Level="1">
  <Info>
    <Name>Spacing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Small"
    },
    {
      "id": 3,
      "value": "Medium"
    },
    {
      "id": 4,
      "value": "Large"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>