<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54db1a9c-5c07-45e5-aaab-6e4ac0e99e49" Alias="Text Only" Level="1">
  <Info>
    <Name>Text Only</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "styles",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "hr"
    ],
    "stylesheets": [
      "/css/defaults.css",
      "/css/typography.css",
      "/css/gds.css",
      "/css/global.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>