<?xml version="1.0" encoding="utf-8"?>
<DataType Key="069a7e08-e490-4f4d-b5fb-eeb5dae2196c" Alias="Vertical alignment" Level="1">
  <Info>
    <Name>Vertical alignment</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Top"
    },
    {
      "id": 2,
      "value": "Centre"
    },
    {
      "id": 3,
      "value": "Bottom"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>